
@{
    ViewData["Title"] = "Index";
}


<div class="container">

    <h1>Pesquisa de dados</h1>
    <i>Pesquisa em ElasticSearch (Cloud) - Indice: scorecard</i>
    <hr>
    <div class="col-8">
        <!-- Formulario de pesquisa -->
        <form class="form-inline" onsubmit="return isValidForm()">
            <div class="form-group col-10">
                <label class="sr-only">Pesquisar</label>
                <input type="text" class="form-control" id="textToFind" placeholder="Digite sua pesquisa" style="width: 100%;" maxlength="80">
            </div>
            <div class="form-group" style="margin-top: 0.8%;">
                <button type="button" class="btn btn-primary mb-2" id="pesquisar">Pesquisar</button>
            </div>
        </form>

    </div>

    <hr>

    <div class="col-12">
        <!-- Tabela de resultados -->
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>CITY</th>
                    <th>ZIP</th>
                    <th>INEXPFTE</th>
                    <th>INSTNM</th>
                    <th>OPEID</th>
                    <th>OPEID6</th>
                    <th>PFTFAC</th>
                    <th>REGION</th>
                    <th>STABBR</th>
                    <th>TUITFTE</th>
                    <th>UNITID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CITYX</td>
                    <td>ZIXPX</td>
                    <td>INEXXPFTE</td>
                    <td>INSXTNM</td>
                    <td>OPEXXID</td>
                    <td>OPXEID6</td>
                    <td>PFTXFAC</td>
                    <td>REGION</td>
                    <td>STAXBBR</td>
                    <td>TUIXTFTE</td>
                    <td>UNIXTID</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.noConflict();
        MakeDataTable();
    });

    $("#pesquisar").click(function () {
        var textToFind = $("#textToFind").val();

        // Pesquisa inicial para preenchimento de tabela
        if (textToFind == "")
            textToFind = "New York";

        $('#example').DataTable().ajax.url("/find/" + textToFind).load();
    });

    function MakeDataTable() {

        var textToFind = $("#textToFind").val();

        // Pesquisa inicial para preenchimento de tabela
        if (textToFind == "")
            textToFind = "New York";

        var table = $('#example').DataTable({
            "language": {
                "emptyTable": "Sem resultado"
            },
            "bFilter": false,
            ajax: {
                url: "/find/" + textToFind,
                method: "GET"
            },
            columns: [
                { data: "CITY" },
                { data: "ZIP" },
                { data: "INEXPFTE" },
                { data: "INSTNM" },
                { data: "OPEID" },
                { data: "OPEID6" },
                { data: "PFTFAC" },
                { data: "REGION" },
                { data: "STABBR" },
                { data: "TUITFTE" },
                { data: "UNITID" }
            ]
        });
    }

</script>
